<%= form_with(model: taxon) do |form| %>

  <% if taxon.errors.any? %>

    <div style="color: red">
      <h2><%= pluralize(taxon.errors.count, "error") %> prohibited this taxon from being saved:</h2>
      <ul>
        <% taxon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
