<h1>Taxons</h1>

<%= render partial: "search" %>

<%= will_paginate @taxons %>

<table id="taxons">

  <tr>
    <th>Id</th>
    <th>Text</th>
    <th>Actions</th>
  </tr>

  <% @taxons.each do |taxon| %>

    <tr>

      <td>
        <%= taxon.id %>
      </td>

      <td>
        <%= taxon.text %>
      </td>

      <td>
        <%= link_to "Show", taxon_path(taxon) %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @taxons %>
