<%= form_with(model: observation) do |form| %>

  <% if observation.errors.any? %>

    <div style="color: red">
      <h2><%= pluralize(observation.errors.count, "error") %> prohibited this observation from being saved:</h2>
      <ul>
        <% observation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <div>
    <%= form.label :observation_type, style: "display: block" %>
    <%= form.text_field :observation_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
