<h1>Observations</h1>

<%= render partial: "search" %>

<% if admin_signed_in? %>
  <div>
    <%= link_to "New observation", new_observation_path %>
  </div>
<% end %>

<%= will_paginate @observations %>

<table id="observations">

  <tr>
    <th>Id</th>
    <th>Observation Type</th>
    <th>Actions</th>
  </tr>

  <% @observations.each do |observation| %>

    <tr>

      <td>
        <%= observation.id %>
      </td>

      <td>
        <%= observation.observation_type %>
      </td>

      <td>
        <%= link_to "Show", observation_path(observation) %>
        <%= link_to(
              "Edit",
              edit_observation_path(observation)
            ) if admin_signed_in?
        %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @observations %>
