<h1>Conclusions</h1>

<%= render partial: "search" %>

<% if admin_signed_in? %>
  <div>
    <%= link_to "New conclusion", new_conclusion_path %>
  </div>
<% end %>

<%= will_paginate @conclusions %>

<table id="conclusions">

  <tr>
    <th>Id</th>
    <th>Conclusion Type</th>
    <th>Actions</th>
  </tr>

  <% @conclusions.each do |conclusion| %>

    <tr>

      <td>
        <%= conclusion.id %>
      </td>

      <td>
        <%= conclusion.conclusion_type %>
      </td>

      <td>
        <%= link_to "Show", conclusion_path(conclusion) %>
        <%= link_to(
              "Edit",
              edit_conclusion_path(conclusion)
            ) if admin_signed_in?
        %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @conclusions %>
