<h1>Couplets</h1>

<%= render partial: "search" %>

<%= will_paginate @couplets %>

<table id="couplets">

  <tr>
    <th>Id</th>
    <th>Ref</th>
    <th>Actions</th>
  </tr>

  <% @couplets.each do |couplet| %>

    <tr>

      <td>
        <%= couplet.id %>
      </td>

      <td>
        <%= couplet.ref %>
      </td>

      <td>
        <%= link_to "Show", couplet_path(couplet) %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @couplets %>
