<%= form_with(model: key) do |form| %>
  <% if key.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
        <% key.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ref, style: "display: block" %>
    <%= form.text_field :ref %>
  </div>

  <div>
    <%= form.label :document_id, style: "display: block" %>
    <%= form.select :document_id, options_for_select(Document.ref_id_pairs), :prompt => true %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :language, style: "display: block" %>
    <%= form.text_field :language %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
