<div id="<%= dom_id key %>">
  <p>
    <strong>Ref:</strong>
    <%= key.ref %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= key.document_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= key.title %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= key.language %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= key.notes %>
  </p>

</div>
