<div style="color: green">
  <%= notice %>
</div>

<h1>Keys</h1>

<%= render partial: "search" %>

<div>
  <%= link_to "New key", new_key_path %>
</div>

<%= will_paginate @keys %>

<table id="keys">

  <tr>
    <th>Id</th>
    <th>Ref</th>
    <th>Document</th>
    <th>Title</th>
    <th>Language</th>
    <th>Notes</th>
    <th>Actions</th>
  </tr>

  <% @keys.each do |key| %>

    <tr>

      <td>
        <%= key.id %>
      </td>

      <td>
        <%= key.ref %>
      </td>

      <td>
        <%= link_to key.document.ref, document_path(key.document) %>
      </td>

      <td>
        <%= key.title %>
      </td>

      <td>
        <%= key.language %>
      </td>

      <td>
        <%= key.notes %>
      </td>

      <td>
        <%= link_to "Show", key_path(key) %>
        <%= link_to "Edit", edit_key_path(key) %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @keys %>
