<h1>Keys</h1>

<%= render partial: "search" %>

<% if admin_signed_in? %>
  <div>
    <%= link_to "New key", new_key_path %>
  </div>
<% end %>

<%= will_paginate @keys %>

<table id="keys">

  <tr>
    <th>Id</th>
    <th>Ref</th>
    <th>Document</th>
    <th>Title</th>
    <th>Language</th>
    <th>Notes</th>
    <th>XML</th>
    <th>Actions</th>
  </tr>

  <% @keys.each do |key| %>

    <tr>

      <td>
        <%= key.id %>
      </td>

      <td>
        <%= key.ref %>
      </td>

      <td>
        <%= link_to(key.document.ref, document_path(key.document)) if key.document %>
      </td>

      <td>
        <%= key.title %>
      </td>

      <td>
        <%= key.language %>
      </td>

      <td>
        <%= key.notes %>
      </td>

      <td>
        <pre><%= key.xml %></pre>
      </td>

      <td>
        <%= link_to "Show", key_path(key) %>
        <% if admin_signed_in? %>
          <%= link_to "Delete", key_path(key, :delete => 1) %>
        <% end %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @keys %>
