<p style="color: green"><%= notice %></p>

<%= render @key %>

<div>
  <%= link_to "Edit this key", edit_key_path(@key) %> |
  <%= link_to "Back to keys", keys_path %>

  <%= button_to "Destroy this key", @key, method: :delete %>
</div>
