<h1>Properties</h1>

<%= render partial: "search" %>

<%= will_paginate @properties %>

<table id="properties">

  <tr>
    <th>Id</th>
    <th>Text</th>
    <th>Actions</th>
  </tr>

  <% @properties.each do |property| %>

    <tr>

      <td>
        <%= property.id %>
      </td>

      <td>
        <%= property.text %>
      </td>

      <td>
        <%= link_to "Show", property_path(property) %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @properties %>
