<%= form_with(model: lead) do |form| %>

  <% if lead.errors.any? %>

    <div style="color: red">

      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <div>
    <%= form.label :couplet_id, style: "display: block" %>
    <%= form.text_field :couplet_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
