<h1>Leads</h1>

<%= render partial: "search" %>

<%= will_paginate @leads %>

<table id="leads">

  <tr>
    <th>Id</th>
    <th>Couplet Id</th>
    <th>Actions</th>
  </tr>

  <% @leads.each do |lead| %>

    <tr>

      <td>
        <%= lead.id %>
      </td>

      <td>
        <%= lead.couplet_id %>
      </td>

      <td>
        <%= link_to "Show", lead_path(lead) %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @leads %>
