<div id="<%= dom_id document %>">
  <p>
    <strong>Ref:</strong>
    <%= document.ref %>
  </p>

  <p>
    <strong>Citation:</strong>
    <%= document.citation %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= document.language %>
  </p>

  <p>
    <strong>Original file url:</strong>
    <%= link_to document.original_file_url, document.original_file_url %>
  </p>

  <p>
    <strong>Archived file url:</strong>
    <%= link_to document.archived_file_url, document.archived_file_url %>
  </p>

  <p>
    <strong>Original page url:</strong>
    <%= link_to document.original_page_url, document.original_page_url %>
  </p>

  <p>
    <strong>Archived page url:</strong>
    <%= link_to document.archived_page_url, document.archived_page_url %>
  </p>

  <p>
    <strong>Keys:</strong>
    <% document.keys.each do |key| %>
      <div>
        <%= link_to "#{key.ref} (#{key.language})", key_path(key) %>
      </div>
    <% end %>
  </p>

</div>
