<div id="<%= dom_id document %>">
  <p>
    <strong>Ref:</strong>
    <%= document.ref %>
  </p>

  <p>
    <strong>Citation:</strong>
    <%= document.citation %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= document.language %>
  </p>

  <p>
    <strong>Original file url:</strong>
    <%= document.original_file_url %>
  </p>

  <p>
    <strong>Archived file url:</strong>
    <%= document.archived_file_url %>
  </p>

  <p>
    <strong>Original page url:</strong>
    <%= document.original_page_url %>
  </p>

  <p>
    <strong>Archived page url:</strong>
    <%= document.archived_page_url %>
  </p>

</div>
