<%= form_tag(
      documents_path,
      method: :get,
      class: "search"
    ) do
%>

  <div class="field">
    Id
    <%= text_field_tag(
          :id,
          {},
          value: params[:id],
          size: 5
        )
    %>
  </div>

  <div class="field">
    Ref
    <%= text_field_tag(
          :ref,
          {},
          value: params[:ref]
        )
    %>
  </div>

  <div class="field">
    Citation
    <%= text_field_tag(
          :citation,
          {},
          value: params[:citation]
        )
    %>
  </div>

  <div class="field">
    Language
    <%= text_field_tag(
          :language,
          {},
          value: params[:language]
        )
    %>
  </div>

  <div class="submit-field">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%= link_to "Clear", search_documents_path %>
  </div>

<% end %>
