<h1>Documents</h1>

<%= render partial: "search" %>

<% if admin_signed_in? %>
  <div>
    <%= link_to "New document", new_document_path %>
  </div>
<% end %>

<%= will_paginate @documents %>

<table id="documents">

  <tr>
    <th>Id</th>
    <th>Ref</th>
    <th>Citation</th>
    <th>Language</th>
    <th>Original</th>
    <th>Archived</th>
    <th>Keys</th>
    <th>Actions</th>
  </tr>

  <% @documents.each do |document| %>

    <tr>

      <td>
        <%= document.id %>
      </td>

      <td>
        <%= document.ref %>
      </td>

      <td>
        <%= document.citation %>
      </td>

      <td>
        <%= document.language %>
      </td>

      <td>
        <div>
          <%= link_to "File", document.original_file_url %>
        </div>
        <div>
          <%= link_to "Page", document.original_page_url %>
        </div>
      </td>

      <td>
        <div>
          <%= link_to "File", document.archived_file_url %>
        </div>
        <div>
          <%= link_to "Page", document.archived_page_url %>
        </div>
      </td>

      <td>
        <% document.keys.each do |key| %>
          <div>
            <%= link_to "#{key.ref} (#{key.language})", key_path(key) %>
          </div>
        <% end %>
      </td>

      <td>
        <%= link_to "Show", document_path(document) %>
      </td>

    </tr>

  <% end %>

</table>

<%= will_paginate @documents %>
