<!DOCTYPE html>
<html>
  <head>
    <title><%= Site.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag Site.favicon_path, rel: "icon", type: "image/vnd.microsoft.icon" %>
    <%= favicon_link_tag Site.apple_touch_icon_path, rel: "apple-touch-icon", type: "image/png"%>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <div class="float-left">
        <%= link_to image_tag(Site.logo_path), root_path %>
      </div>
      <% if admin_signed_in? %>
        <% # Need to prevent the form created by button_to from forcing a new line: %>
        <div class="float-right">
          <%= button_to "Log out", destroy_admin_session_path, method: :delete %>
        </div>
        <div class="float-right">
          Logged in as <strong><%= current_admin.email %></strong> |&nbsp;
        </div>
        <div class="float-right clear-right">
          <%= link_to 'Account Settings', edit_admin_registration_path %>
        </div>
      <% else %>
        <div class="float-right">
          <%= link_to "Sign up", new_admin_registration_path %> |
          <%= link_to "Log in", new_admin_session_path %>
        </div>
      <% end %>
    </div>
    <div class="clear-both">
      <%= link_to "Documents", documents_path %> |
      <%= link_to "Keys", keys_path %> |
      <%= link_to "Couplets", couplets_path %> |
      <%= link_to "Leads", leads_path %> |
      <%= link_to "Properties", properties_path %> |
      <%= link_to "Taxons", taxons_path %>
    </div>

    <div class="alert">
      <%= alert %>
    </div>
    <div class="notice">
      <%= notice %>
    </div>
    <%= yield %>
  </body>
</html>
